.total-col {
  flex-grow: 1;
  /*margin: 5px;*/
  flex-basis: 0;
}

.total {
  font-size: 50px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.total-button {
  font-size: 20px;
  height: 50px;
  border: 0;
  background: deepskyblue;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-label {
  align-items: center;
  display: flex;
  justify-content: center;
  background: #eee;
  flex-grow: 1;
}