.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}

.item-col {
  flex-grow: 1;
  margin: 5px;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
}

.item-inline {
  flex-grow: 1;
  margin: 5px;
  flex-basis: 0;
  display: flex;
  flex-direction: row;
}

.item-fixed {
  margin: 5px;
  flex-basis: 80px;
  display: flex;
}

input {
  font-size: 20px;
  border: 1px solid gray;
  background: white;
  padding: 5px 10px;
  height: 40px;
  border-radius: 5px;
}

select {
  font-size: 20px;
  border: 1px solid gray;
  background: white;
  padding: 5px 10px;
  height: 50px;
  border-radius: 5px;
}

.icon {
  width: 60px;
  height: 60px;
}

.button {
  align-items: center;
  font-size: 18px;
  display: flex;
  height: 50px;
  border: 0;
  background: orange;
  border: 1px solid gray;
  cursor: pointer;
  border-radius: 5px;
  justify-content: center;
}

.button.danger {
  background: transparent;
  border-color: transparent;
  color: red;
  font-weight: 700;
}

.button.danger:disabled {
  display: none;
}

.button:disabled {
  background: #eee;
  color: 999;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}