.shopping-basket-input {
  font-size: 20px;
  width: 250px;
}

.basket {
  font-size: 14px;
}

.label {
  font-size: 18px;
  font-weight: bold;
}

.list {
  width: 600px;
  margin: auto;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  flex-direction: column;
}

.separator {
  border-top: 1px solid gray;
  margin: 20px
}